__pycache__/
*.py[cod]
*$py.class
*.css.map
*.zip
*.sh
merge-dev.sh
.vscode/
venv/
*.swp
*.pem
*.pyc
*.DS_Store
.cache
snickers_env/*
snickers-env/*
node_modules
build
__pycache__
src/assets/styles/main.css
