<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<style>
    body {
        text-align: center;
    }
</style>

<script>
  //Using setTimeout to execute a function after 5 seconds.
  setTimeout(function () {
     //Redirect with JavaScript
     window.location.href= 'https://mcss.utmrobotics.com/login';
  }, 3000);
</script>
<body>
  <h1 style="color: rgb(0, 173, 29)">You have been verified!</h1><h1>You are being redirected to the login page.</h1>
</body>
</html>
