h1 {
    text-align: center;
}

#form { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    padding: 10px;
}

.textinput {
    text-align: center;
}

#buttons button {
    margin: 0px 8px;
    border: 0;
    border-radius: 5px;
    background-color: darkslategray;
    color: lavender;
}