body {
    font-family: Arial, Helvetica, sans-serif;
}

//Login and Register Form
.auth-form-container {
    position: fixed;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    input {
        outline: 0;
        background: #f2f2f2;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .auth-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }
}


$login-message-font-size: 16px;
.error-message {
    color: red;
    font-size: $login-message-font-size;
}

.success-message {
    color: green;
    font-size: $login-message-font-size;
}

.register-redirect {
    padding-top: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.login-redirect {
    text-align: left;
    padding-bottom: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.nav-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.nav-link {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.content-container {
    position: absolute;
    top: 10%;
}

.boardImage {
    width: 50px;
    height: 50px;
}

.home-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);

    table {
        margin: 0 auto;
    }

    td {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .num {
        max-width: 50px;
    }

    .item {
        min-width: 100px;
    }
}

.error-page {
    opacity: 0.3;
    float: left;
    left: 230px;
    position: absolute;
}

.message-box {
    height: 200px;
    width: 380px;
    position: fixed;
    top: 50%;
    left: 60%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
    
    h1 {
        font-size: 60px;
        line-height: 46px;
        margin-bottom: 40px;
        color: mediumpurple;
    }

    p {
        margin: 0 0 10px;
        color: mediumpurple;
    }
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
    
    a {
        background: #05AACF;
        padding: 8px 25px;
        border-radius: 4px;
        color: #FFF;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.3s linear;
        cursor: pointer;
        text-decoration: none;
        
        &:hover {
            background: #5A5C6C;
            color: #fff;
        }
    }
}

.replay-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    height: 80%;
    overflow: auto;

    input {
        outline: 0;
        background: #f2f2f2;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }


    .replay-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        display: block;
        width: 100%;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }
}


.submit-container {
    position: fixed;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    input {
        outline: 0;
        background: #f2f2f2;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
    }

    .submit-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }

    .submit-select {
        display: inline-block;
        border: 0;
        padding: 5px;
        margin: 5px;
    }

    p {
        display: inline-block;
    }
}

.delay-display {
    z-index:3;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.7)
}

.delay-display-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 1;
    width: 50vw;
    height: 30vw;
    box-shadow: 5px 10px 18px #888888;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: limegreen;
}

.lds-circle > div {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 6px;
  border-radius: 50%;
  background: limegreen;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.submit-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }
}


.register-container {
    position: fixed;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);

    input {
        outline: 0;
        background: #f2f2f2;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .register-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }
}

.status-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%);

    .status {
        display: inline-block;
        max-width: 350px;
        min-width: 350px;
        text-align: center;
        margin: 10px;

        .toggle-button {
            text-transform: uppercase;
            outline: 0;
            background: grey;
            border: 0;
            padding: 15px;
            color: white;
            font-size: 14px;
            cursor: pointer;

            &:hover, &:active, &:focus {
                background: darkgrey;
            }
        }
    }
    
}
