@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import url("https://use.typekit.net/lrh2tnp.css");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* VARIABLES */
// FOR BACKGROUNDS
$backgroundblack: #1d1f27;
// FOR LIGHTER BACKGROUNDS/CREATE CONTRAST
$bluishblack: #272933;
// FOR LETTERING ON LIGHT BACKGROUNDS
$verydarkgrey: #212121;
// FOR LETTERING ON DARK BACKGROUNDS
$almostwhite: #e6e6e6;
// FOR PLACEHOLDER LETTERING ON LIGHT BACKGROUNDS (E.G: INPUT BOXES)
$placeholderdark: #36352f;
// ACCENT
$goldenyellow: #ffaf00;
// USE SPARINGLY:
$brightyellow:#ffec37;


body {
    font-family: aileron, Arial, sans-serif;
    color:#e6e6e6;
}

.app-header-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    width: 50;
    height: 50;
}

.app-header-container{
    position:relative;
    text-align: center;
    border-bottom: solid white 0.15vh;
    height:100%;
    h1{
        font-size: 40px;
        text-decoration: none;
        color: $verydarkgrey;
        // KJ
        font-family: 'Spartan', sans-serif;
        text-transform: uppercase;
        font-weight:700;
        color: $goldenyellow;
        display:inline-block;
        vertical-align: middle;
        //  font-family: 'VT323', monospace;
    }
    .headerLogo {
        display: inline-block;
        // margin-left: auto;
        // margin-right: auto;
        // width: 5%;
        max-height:60px;
        vertical-align: middle;
        transition:transform  .2s;
        margin-bottom:10px;
        margin-right:10px;
    }
    .headerLogo:hover {
        transform:scale(1.15);
    }
    // TODO: fix shine css animation
    // https://codepen.io/fazlurr/pen/qbWMRv
    .shine {
        background:$backgroundblack -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
        -webkit-background-clip: text;
        -webkit-animation-name: shine;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        text-shadow: 0 0px 0px $brightyellow;
    }
    @-webkit-keyframes shine {
        0%, 10% {
            background-position: -1000px;
        }
        20% {
            background-position: top left;
        }
        90% {
            background-position: top right;
        }
        100% {
            background-position: 1000px;
        }
    }   
}
.nav-br {
   color:white !important; width:50vw !important; height:2em !important;
}
// image center and sizing changes
.deer-hunt-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12.5%;
}


//Discord embed
.discord-container {
    position: float;
    text-align:center;
    margin: auto;
}
.leaderboard-button {
    text-transform: uppercase;
    outline: 0;
    background-color:$goldenyellow;
    border: 0;
    padding: 4px;
    margin: 0;
    color:$almostwhite;
    font-size: 16px;
    color:$backgroundblack;
    cursor: pointer;
     transition:0.3s;
    &:hover, &:active, &:focus {
        background-color: $brightyellow;
    }
 }
 .gameid-card {
    display: inline-block;
    margin: 8px;
    padding: 4px;
    margin-top:0.5em;
    z-index: 1;
    background-color: $bluishblack;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
    p {
        color: $goldenyellow;
    }
}

.invite-card {

    margin: 4px;
    margin-top:0.5em;
    padding: 2px 4px;
    z-index: 1;
    background-color: $bluishblack;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
    .invite-button {
       text-transform: uppercase;
       outline: 0;
       background-color:$goldenyellow;
       border: 0;
       padding: 15px;
       color:$almostwhite;
       font-size: 14px;
       margin: 4px;
       color:$backgroundblack;
       cursor: pointer;
        transition:0.3s;
       &:hover, &:active, &:focus {
           background-color: $brightyellow;
       }
    }
    h2 {
        color:$goldenyellow;
    }  
    h4 {
        color: $goldenyellow;
    }
}
//Login and Register Form
.auth-form-container {
    position: float;
    margin: auto;
    // margin-top:5em;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    background-color: $bluishblack;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 0.3em 0.3em rgba(0, 0, 0, 0.5);
    // box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.5), 0 0.2em 0.2em 0 rgba(0, 0, 0, 0.5);

    input {
        outline: 0;
        background: $backgroundblack;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        color:$almostwhite;
    }
    input::placeholder {
        color:$goldenyellow;
        opacity:1;
    }

    .auth-button {
        text-transform: uppercase;
        outline: 0;
        background:$brightyellow;
        border: 0;
        padding: 15px;
        color:black;
        font-size: 14px;
        cursor: pointer;
        transition:0.3s;
        &:hover, &:active, &:focus {
            // background: darkgrey;
            // -webkit-animation-duration: 0.5s;
            // -webkit-animation-name: upgrade-yellow-background;
            // animation-duration: 0.5s;
            // animation-name: upgrade-yellow-background;
            background-color:$brightyellow;
        }

        // @-webkit-keyframes upgrade-yellow-background {
        //     from {
        //         background: #ffaf00;
        //     }
        //     to {
        //         background: #ffec37;
        //     }
        // }
        // @keyframes upgrade-yellow-background {
        //     from {
        //         background: #ffaf00;
        //     }
        //     to {
        //         background: #ffec37;
        //     }
        // }
    }
}


$login-message-font-size: 16px;
.error-message {
    color: red;
    font-size: $login-message-font-size;
}

.success-message {
    color: green;
    font-size: $login-message-font-size;
}

.register-redirect {
    padding-top: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.login-redirect {
    text-align: left;
    padding-bottom: 10px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.nav-container {
    position: float;
    text-align: center;
    margin: 10px;
}

.nav-link {
    padding: 10px;
    margin: 10px;        
    font-size: 30px;
    text-decoration: none;
    color: black;

    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight:700;
    color:$brightyellow;
    // font-family: 'VT323', monospace;
}

.nav-link:hover {
    // color: #ffaf00;
    color:$goldenyellow;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-name: upgrade-yellow;
    animation-duration: 0.75s;
    animation-name: upgrade-yellow;
}
@-webkit-keyframes upgrade-yellow {
    from {
        color:$brightyellow;
    }
    to {
        color:$goldenyellow;
    }
}
@keyframes upgrade-yellow {
    from {
        color:$brightyellow;
    }
    to {
        color:$goldenyellow;
    }
}

.content-container {
    position: float;
    top: 10%;
}

.home-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

    table {
        margin: 0 auto;
    }

    td {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .num {
        max-width: 50px;
    }

    .item {
        min-width: 100px;
    }
}

.error-page {
    opacity: 0.3;
    float: left;
    left: 230px;
    position: absolute;
}

.message-box {
    height: 200px;
    width: 380px;
    position: fixed;
    top: 50%;
    left: 60%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    font-family: Roboto;
    font-weight: 300;
    
    h1 {
        font-size: 60px;
        line-height: 46px;
        margin-bottom: 40px;
        color: mediumpurple;
    }

    p {
        margin: 0 0 10px;
        color: mediumpurple;
    }
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
    
    a {
        background: #05AACF;
        padding: 8px 25px;
        border-radius: 4px;
        color: #FFF;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.3s linear;
        cursor: pointer;
        text-decoration: none;
        transition:0.3s;
        
        &:hover {
            background: #5A5C6C;
            color: #fff;
        }
    }
}

.replay-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    overflow: scroll;
    width: 100%;
    height: 90%;


    input {
        outline: 0;
        // background: #f2f2f2;
        background:$almostwhite;
        opacity: 0.9;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        min-width: 300px;
        color:$verydarkgrey;
    }
    input::placeholder {
        color:$placeholderdark;
        opacity:1;
    }
    .board {
        margin-top:0;
        margin-bottom:3%;
        h1 {
            margin-top:20px;
            margin-bottom:10px;
        }
        h3 {
            margin-top:5px;
            margin-bottom:5px;
        }
        
    }

    .replay-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        min-width: 300px;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }

    table {
        margin: 0 auto;
        margin-bottom:30px;
        border: 5px solid $goldenyellow;
        background:$bluishblack;
        // width:25%;
        // height:25%;
    }
    $imageScalar:25%;
    $paddingScalar:0.5;

    td {
        width:1vw;
        height:1vw;
    }
    img.boardImage {
        padding:0;
        margin:0;
        width:100%;
        height:100%;
    }


}


.submit-container {
    position: fixed;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    left: 50%;
    top: 50%;
    margin-top:3em;
    transform: translate(-50%, -50%);

    input {
        outline: 0;
        background: #f2f2f2;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        color: $verydarkgrey;
    }
    input::placeholder {
        color:$placeholderdark !important;
        opacity:1;
    }

    .submit-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition:0.3s;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }

    .submit-select {
        display: inline-block;
        border: 0;
        padding: 5px;
        margin: 5px;
    }

    p {
        display: inline-block;
    }
}

.delay-display {
    z-index:3;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.7)
}

.delay-display-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $backgroundblack;
    opacity: 1;
    width: 50vw;
    height: 30vw;
    box-shadow: 5px 10px 18px $backgroundblack;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: limegreen;
}

.lds-circle > div {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 6px;
  border-radius: 50%;
  background: rgb(107, 128, 107);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.submit-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }
}


.register-container, .profile-container {
    position: fixed;
    z-index: 1;
    background-size: 100% 75%;
    background-position: top center;
    max-width: 400px;
    padding: 45px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);

    input {
        color:$verydarkgrey;
        outline: 0;
        background:$almostwhite;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    input::placeholder {
        color:$placeholderdark;
        opacity:1;
    }

    .register-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        transition:0.3s;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }
}

.status-container {
    text-align: center;

    .status {
        display: inline-block;
        max-width: 350px;
        min-width: 350px;
        text-align: center;
        margin: 10px;

        .toggle-button {
            text-transform: uppercase;
            outline: 0;
            background: grey;
            border: 0;
            padding: 15px;
            color: white;
            font-size: 14px;
            cursor: pointer;
            transition:0.3s;

            &:hover, &:active, &:focus {
                background: darkgrey;
            }
        }
    }
    
}

.no-team-container, .on-team-container {
    border-radius:15px;
    background-color: $bluishblack;
    box-shadow: 0 0 0.25em 0.25em rgba(0, 0, 0, 0.5);
    position: float;
    z-index: 1;
    background-size: 100% 75%;
    max-width: 450px;
    margin: auto;
    padding: 45px;
    text-align: center;
    margin-top:2em;

    input {
        outline: 0;
        background:$almostwhite;
        opacity: 0.9;
        width: 100%;
        border: 0;
        margin: 15px 0px 15px 0px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        color:$verydarkgrey;
    }
    input::placeholder {
        color:$placeholderdark;
        opacity:1;
    }

    .create-team-button, .leave-team-button, .send-invite-button {
        text-transform: uppercase;
        outline: 0;
        background: grey;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        margin: 4px;
        cursor: pointer;
        transition:0.3s;

        &:hover, &:active, &:focus {
            background: darkgrey;
        }
    }

    
}
